@page
@model Dyreinternatet.Pages.AnimalsModel
@{
}
<link href="~/css/stylesheet.css" rel="stylesheet" />
<link href="~/css/imagescss.css" rel="stylesheet" />
<!DOCTYPE html>
<h1 class="text-center">Dyr til adoption</h1>
<p class="text-center">Se vores søde dyr til adoption her</p>

<form method="post" asp-page-handler="search" name="search" id="search">
    <input type="text" asp-for="searchname" aria-describedby="textHelp" placeholder="søg efter et dyrs navn" />
    <button type="submit">søg animals</button>
</form>
<form method="post" asp-page-handler="Sort" name="Sort" id="Sort">
    <input type="hidden" value="@Model.Animals" name="animals" />
    <button type="submit">sort animals</button>
</form>

<form method="post" asp-page-handler="Filter" name="Filtrer" id="Filtrer">
<input type="checkbox" asp-for="@Model.dog" name="dog" value="true" />
    <label>hund</label>


    <input type="checkbox" asp-for="@Model.cat" name="cat" value="true" />
    <label>kat</label>

    <input type="checkbox" asp-for="@Model.rabbit" name="rabbit" value="true" />
    <label>kanin</label>
    <button type="submit">filter animals</button>
</form>

<div class="row row-cols-3">
    @foreach (var Animal in Model.Animals)
    {
                <div class="card-body"> 
                     <h4 class="card-title">@Animal.Name</h4> 
                     <p class="card-text">Alder: @Animal.Age<br />Art: @Animal.Species</p>
                     <img src="@Animal.ImgPath" class="card-img-top" alt="animal Image">
                     <a href="AnimalInfo?id=@Animal.ID" class="btn btn-primary">Se Mere</a>
                     <a href="AnimalEdit?id=@Animal.ID" class="btn btn-primary">edit dyr</a>
            <form method="post" asp-page-handler="DeleteAnimal" class="d-inline">
                <input type="hidden" name="ID" value="@Animal.ID" />
                <button type="submit" class="btn btn-delete mt-1">
                    <i class="bi bi-trash"></i> Delete
                </button>
            </form>
               </div>
         
    }

</div>

<p><a href="AnimalCreate?idceate=@Model.idceate">Klik her</a> for at tilføje flere dyr til internattet</p>

